.signup-section
  height: 500px
  background-color: white

.signup-headline
  text-align: center
  padding-top: 50px
  font:
    size: 28px
    weight: 700
  text-transform: uppercase
  color: rgba(0,0,0,1)
.sign-up-form
  width: 40%
  margin: 0 auto
  .btn
    box-sizing: border-box

