.signup
  height: auto
  form
    width: 30%
    margin: 0 auto
  .input
    box-sizing: border-box
.signup-headline
  text-align: center
  padding-top: 50px
  font:
    size: 28px
    weight: 700
  text-transform: uppercase
  color: rgba(0,0,0,1)



