//buttons
$btn_white: #ffffff;

//default button colors
$btn_default1: #cccccc;
$btn_default2: #333333;
$btn_default_hover1: #e6e6e6;
$btn_default_hover2: #adadad;

//primary button colors
$btn_primary1: #337ab7;
$btn_primary2: #2e6da4;
$btn_primary_hover1: #286090;
$btn_primary_hover2: #204d74;

//success button colors
$btn_success1: #5cb85c;
$btn_success2: #4cae4c;
$btn_success_hover1:#449d44;
$btn_success_hover2:#398439;

//info button colors
$btn_info1: #5bc0de;
$btn_info2: #46b8da;
$btn_info_hover1: #31b0d5;
$btn_info_hover2: #269abc;

//warning button colors
$btn_warning1: #f0ad4e;
$btn_warning2: #eea236;
$btn_warning_hover1: #ec971f;
$btn_warning_hover2: #d58512;

//danger button colors
$btn_danger1: #d9534f;
$btn_danger2: #d43f3a;
$btn_danger_hover1: #c9302c;
$btn_danger_hover2: #ac2925;